<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uulm.first.ui_extension.MyHandler"
            id="de.uulm.first.ui_extension.my_command"
            name="MyCommand">
      </command>
      <command
            defaultHandler="de.uulm.first.ui_extension.MySecondHandler"
            id="de.uulm.first.ui_extension.my_popup_command"
            name="MyPopupCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="de.uulm.first.mymenu"
               label="MyMenu">
            <command
                  commandId="de.uulm.first.ui_extension.my_command"
                  label="MyCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="de.uulm.first.ui_extension.my_popup_command"
               label="MyPopup"
               style="push"
               tooltip="This is my first popup thing">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.uulm.first.ui_extension.my_category"
            name="MyCategory">
      </category>
      <view
            category="de.uulm.first.ui_extension.my_category"
            class="de.uulm.first.ui_extension.MyViewPart"
            id="de.uulm.first.ui_extension.my_view"
            name="MyView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uulm.first.ui_extension.MyEditor"
            default="false"
            extensions="java"
            id="de.uulm.first.ui_extension.my_editor"
            name="MyEditor">
      </editor>
   </extension>

</plugin>
